{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
       <div class="col-sm-4">
           <br><br><br><br><br>
           <p>
               <a href="{{ url('profile.homepage.index') }} "class="btn btn-primary"> Accueil </a>
           </p>
           <p>
               <a href="{{ url('profile.manage.index') }}" class="btn btn-primary"> Compléter le profil </a>
           </p>
       </div>

        <div class="col-sm-8">
            {% block colRight %} {% endblock %}
        </div>
    </div>
{% endblock %}