{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="rwo">
            <div class="col">
                <h1>E-commerce Symfony 3.4 - Accueil</h1>
            </div>
        </div>
    </div>
{% endblock %}

