<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maintenance</title>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center">Maintenance</h1>
        <img src="{{ asset('img/maintenance.gif') }}" alt="maintenance" style="position: absolute; top: 50%;left: 50%;transform: translate(-50%, -50%);">
    </div>
</body>
</html>