{% extends 'admin/base.admin.html.twig' %}

{% block colRight %}
    <br>
    <br>
    <br>
    <h1 class="mb-4">Export de la base de données</h1>

    <p class="alert alert-success">
        {{ result }}
    </p>
{% endblock %}