{% extends 'admin/base.admin.html.twig' %}

{% block colRight %}
    <div class="container">
        <h1>Dashborad - Bonjour {{ app.user.username }}</h1>

        <br>
        {#
            is_granted : tester le rôle de user ou sans état de connexion
            IS_AUTHENTICATED_FULLY : connecté
        #}


    </div>
{% endblock %}