{% extends 'profile/base.profile.html.twig' %}

{% block colRight %}
    <div class="row my-4">

        <div class="col">
            <h1 class="mb-4">Bonjour {{ app.user.username }}  - Profile</h1>
        </div>

        {% include 'inc/flash.message.html.twig' %}

        <p><a href="{{ url('profile.manage.index') }}">éditer le profile</a></p>

    </div>
{% endblock %}